.filter-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 250px;
    gap: 0.5em;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

.filter-price__form {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr);
    width: 100%;
    gap: 10px;
    
}

.filter-price__input {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.filter-price__input label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.filter-price__input input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 1.5em;
    box-sizing: border-box;
}

.filter-price__button {
    padding: 0 1em;
    background-color: #007bff;
    color: white;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 1.5em;
    box-sizing: border-box;
    grid-column: span 2;
}

.filter-price__button:hover {
    background-color: #0056b3;
}

.filter-price__summary {
    margin-top: 10px;
    font-size: 0.9rem;
}

.filter-price__clear {
    cursor: pointer;
    font-weight: bold;
    color: red;
    margin-left: 10px;
}

.filter-price__clear:hover {
    text-decoration: underline;
}


