.productId-I{
    padding: 0.5em 0;
    width: 50%;
    box-sizing: border-box;
    margin: 0 auto;
}

.productId-I__title{
    font-size: 30px;
    font-weight: 700;
     font-family: 'Playfair Display', serif;
    margin-bottom: 0.5em;
    box-sizing: border-box;
}

.productId-I__description {
    margin-bottom: 0.5em;
    font-family: 'inter';
    font-size: 15px;

}

.productId-I__ftr-stock{
    background-color: rgb(217, 255, 215);
    width: fit-content;
    color: rgb(6, 125, 60);
    font-weight: 600;
    padding: 0.2em 0.5em;
    border-radius: 1em;
    font-size: 12px;
    font-family: var(--font-primary);
    margin-bottom: 0.5em;
}

.productId-I__ftr-price {
    font-size: 25px;
    font-weight: 600;
    color: rgb(79, 137, 245);
    margin-bottom: 0.5em;
}

.divider {
    margin-bottom: 10px;
}

.productId-rating {

}


.productId-buyItem {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
}

.productId-quantity {
    display: flex;
    gap: 1em;
    align-items: center;
    
}



.productId-quantity > button{
    width: 2em;
    height: 2em;
    background: rgb(100, 162, 255);
    color: white;
    border-radius: 50%;
    font-weight: 1000;
}

.productId-addCart {
    display: block;
    background: rgb(79, 137, 245);
    color: white;
    padding: 2px 1em;
    height: 2em;
    border-radius: 7px;
    font-weight: 700;

}



@media (max-width:600px) {

    .productId-I{
    width: 75%;
    }
    

}