.productId-I{
    padding: 0.5em 0;
    width: 450px;
}

.productId-I__title{
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-primary);
    margin-bottom: 0.5em;
}

.productId-I__description {
    margin-bottom: 0.5em;

}

.productId-I__ftr-price {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.divider {
    margin-bottom: 10px;
}

.productId-rating {

}

.productId-quantity {
    display: flex;
    gap: 1em;
    margin-bottom: 0.5em;
}

.productId-quantity > button{
    width: 20px;
    height: 20px;
    background: red;
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
}

.productId-addCart {
    display: block;
    background: rebeccapurple;
    color: white;
    padding: 2px 1em;
    height: 2em;
    border-radius: 7px;
    font-weight: 700;
    margin: 0 auto;

}



@media (max-width:400px) {

}